body {
    background-color: midnightblue  ;
    text-align: center; 
}
p{
    font-size: 30px;
}
.red-text{
    color: red;
}
#name {
    font-size: 60px;
    font-family: "Cedarville Cursive", cursive;
}
p1{
    font-size: 30px;
    font-family: "Rubik Burned", system-ui;
}
h1{
    font-size: 70px;
}
* {
  box-sizing: border-box;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: red;
  color: white;
}

#two {
  position: relative;
  top: 0px;
  left: 0px;
  background: blue;
}
