body {
    background-color: midnightblue  ;
    text-align: center; 
}
h1{
    font-size: 100px;
    margin-bottom: 200px;
}
p{
    font-size: 30px;
}
.red-text{
    color: red;
}
#name {
    font-size: 60px;
    font-family: "Cedarville Cursive", cursive;
}
p1{
    font-size: 30px;
    font-family: "Rubik Burned", system-ui;
}
.container {
  column-count: 3;
}
.container {
  column-width: 10em;
}
.container {
  display: flex;
}

.item {
  flex: 1;
}
