body {
    background-color: midnightblue  ;
    text-align: center; 
}
p{
    font-size: 30px;
}
.red-text{
    color: red;
}
#name {
    font-size: 60px;
    font-family: "Cedarville Cursive", cursive;
}
p1{
    font-size: 30px;
    font-family: "Rubik Burned", system-ui;
}
.container {
  column-count: 3;
}
.container {
  column-width: 10em;
}
.container {
  display: flex;
}

.item {
  flex: 1;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
img,
picture,
video {
  max-width: 100%;
}
html {
  font-size: 1em;
}

h1 {
  font-size: 2rem;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}
* {
  box-sizing: border-box;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: red;
  color: white;
}

#two {
  position: relative;
  top: 0px;
  left: 0px;
  background: blue;
}
